In [1]:
import scipy.io
mat = scipy.io.loadmat('../data/tasmax_tasmin_imd_1951_2020.mat')

In [2]:
mat

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Mon Jul 26 19:02:44 2021',
 '__version__': '1.0',
 '__globals__': [],
 'tasmax_imd_1951_2020': array([[[99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         ...,
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9]],

        [[99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         ...,
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9]],

        [[99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         ...,
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9]],

        ...,

        [[ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         ...,
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

        [[ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         ...,
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

        [[ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         ...,
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan]]]),
 'tasmin_imd_1951_2020': array([[[99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         ...,
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9]],

        [[99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         ...,
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9]],

        [[99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         ...,
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9],
         [99.9, 99.9, 99.9, ..., 99.9, 99.9, 99.9]],

        ...,

        [[ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         ...,
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

        [[ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         ...,
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

        [[ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         ...,
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan],
         [ nan,  nan,  nan, ...,  nan,  nan,  nan]]])}

In [3]:
mat['tasmax_imd_1951_2020'].shape

(25568, 31, 31)

In [4]:
import pandas as pd

In [5]:
# Latitude range
import numpy as np
np.arange(7.5, 38.5, 1)

array([ 7.5,  8.5,  9.5, 10.5, 11.5, 12.5, 13.5, 14.5, 15.5, 16.5, 17.5,
       18.5, 19.5, 20.5, 21.5, 22.5, 23.5, 24.5, 25.5, 26.5, 27.5, 28.5,
       29.5, 30.5, 31.5, 32.5, 33.5, 34.5, 35.5, 36.5, 37.5])

In [6]:
# Longitude range
np.arange(67.5, 98.5, 1)

array([67.5, 68.5, 69.5, 70.5, 71.5, 72.5, 73.5, 74.5, 75.5, 76.5, 77.5,
       78.5, 79.5, 80.5, 81.5, 82.5, 83.5, 84.5, 85.5, 86.5, 87.5, 88.5,
       89.5, 90.5, 91.5, 92.5, 93.5, 94.5, 95.5, 96.5, 97.5])

In [7]:
# 28.5 N, 78.5 E --> Index is (21, 11)

In [8]:
tasmax_imd_1951_2020_lat21_long11 = mat['tasmax_imd_1951_2020'][:,21,11]

In [9]:
len(tasmax_imd_1951_2020_lat21_long11)

25568

In [10]:
tasmax_imd_1951_2020_lat21_long11

array([29.52      , 28.41      , 28.04      , ..., 29.83602905,
       29.30597496, 28.85953522])

In [11]:
import calendar

In [12]:
df_tasmax_imd_1951_2020_lat21_long11 = pd.DataFrame()

In [13]:
start = 0

for year in range(1951, 2021):
    if calendar.isleap(year):
        end = start + 366
        col_tmp = list(tasmax_imd_1951_2020_lat21_long11[start:end])
        df_tasmax_imd_1951_2020_lat21_long11[str(year)] = col_tmp
        start = start + 366
    else:
        end = start + 365
        col_tmp = list(tasmax_imd_1951_2020_lat21_long11[start:end]) + ['NA']
        df_tasmax_imd_1951_2020_lat21_long11[str(year)] = col_tmp
        start = start + 365

In [14]:
df_tasmax_imd_1951_2020_lat21_long11

,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,29.52,29.17,28.78,27.41,29.77,29.17,30.01,29.38,28.65,28.78,...,29.86,30.51,32.59,28.561,29.6105,32.924946,31.3316,31.7022,29.662,29.600107
1,28.41,29.05,28.4,27.32,28.87,29.05,29.55,30.26,28.09,26.52,...,29.83,31.66,32.87,29.1567,30.395,32.695885,31.2502,31.2589,30.3573,28.787617
2,28.04,28.85,29.11,27.3,28.76,28.85,29.05,30.18,28.56,27.46,...,30.09,32.35,33.17,29.9663,29.5664,33.403431,30.8673,30.6316,30.5603,29.531298
3,28.21,29.01,28.89,27.96,28.15,29.01,28.51,29.52,29.01,29.31,...,29.52,33.17,33.59,30.4649,29.7816,32.355721,30.5896,30.3268,30.1642,28.759802
4,28.96,29.15,28.63,28.49,27.61,29.15,29.49,29.74,29.93,30.72,...,29.35,32.99,33.79,31.0133,30.0213,31.640860,31.0726,29.9104,29.7739,28.612404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,28.95,29.17,29.22,31.03,27.56,27.85,30.14,30.04,27.24,30.82,...,31.49,30.84,29.07,27.32,31.2243,31.085258,29.9628,28.5538,28.1698,29.906174
362,28.93,29.69,29.52,30.46,27.94,28.42,29.41,28.19,28.31,30.15,...,31.12,30.68,28.72,28.9782,32.6238,30.335169,29.8592,28.3093,28.3235,30.160309
363,29.03,30.07,28.61,30.73,27.55,29.56,29.37,29.07,30.68,29.01,...,30.57,31.01,28.65,30.7045,32.8439,29.851135,30.0216,28.1323,28.7015,29.836029
364,29.15,29.45,28.65,30.29,27.56,29.95,29.33,28.53,30.59,28.17,...,29.36,30.20,29.09,31.0165,31.8752,30.266155,30.6727,28.2237,28.281,29.305975
365,NA,28.76,NA,NA,NA,29.33,NA,NA,NA,30.53,...,NA,31.50,NA,NA,NA,30.182999,NA,NA,NA,28.859535

In [15]:
tasmin_imd_1951_2020_lat21_long11 = mat['tasmin_imd_1951_2020'][:,21,11]

In [16]:
len(tasmin_imd_1951_2020_lat21_long11)

25568

In [17]:
tasmin_imd_1951_2020_lat21_long11

array([16.06      , 14.73      , 13.6       , ..., 15.88205433,
       17.06483078, 18.24519348])

In [18]:
df_tasmin_imd_1951_2020_lat21_long11 = pd.DataFrame()

In [19]:

start = 0

for year in range(1951, 2021):
    if calendar.isleap(year):
        end = start + 366
        col_tmp = list(tasmin_imd_1951_2020_lat21_long11[start:end])
        df_tasmin_imd_1951_2020_lat21_long11[str(year)] = col_tmp
        start = start + 366
    else:
        end = start + 365
        col_tmp = list(tasmin_imd_1951_2020_lat21_long11[start:end]) + ['NA']
        df_tasmin_imd_1951_2020_lat21_long11[str(year)] = col_tmp
        start = start + 365

In [20]:
df_tasmin_imd_1951_2020_lat21_long11

,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,16.06,15.53,14.05,11.29,10.87,15.53,15.94,15.85,14.26,16.58,...,15.45,17.81,18.57,15.8107,19.9154,16.354364,16.409,15.2567,11.5509,18.529945
1,14.73,15.53,13.73,12.04,11.09,15.53,15.32,16.71,14,16.99,...,15.03,17.97,18.93,15.088,19.0987,16.107912,16.0081,15.785,11.8462,19.186365
2,13.6,15.54,14.69,12.79,11.3,15.54,15.71,17.38,14.31,16.38,...,15.64,18.03,18.84,14.6332,19.823,15.965681,16.4789,16.8506,13.3863,19.447815
3,14.5,15.45,15.66,14.15,11.39,15.45,15.24,16.87,14.76,17.44,...,16.75,17.73,19.23,14.8199,19.421,15.879978,15.0545,15.6827,13.3564,18.776476
4,15.36,15.46,15.77,16.69,11.52,15.46,15.83,16.24,16.34,18.66,...,15.1,17.40,18.69,15.5816,18.248,16.919592,14.4633,14.7302,14.8361,18.219862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,15.73,17.09,16.49,17.36,14.99,19.23,17.09,17.27,13.5,14.71,...,14.47,14.54,16.07,14.3866,15.1997,14.829763,13.0928,16.8811,17.7445,15.237489
362,15.71,16.62,15.63,16.5,15.66,18.29,16.81,16.5,15.14,14.87,...,14.67,14.22,16.07,16.4921,14.8975,14.513441,12.9581,13.2514,16.7693,15.461741
363,15.73,17.45,15.04,15.79,15.72,17.91,15.78,15.63,16.7,15.87,...,17.65,15.54,15.31,17.0805,15.6974,15.320812,13.5987,12.9976,17.0466,15.882054
364,15.8,15.16,14.48,14.36,14.52,17.13,15.78,15.29,18.3,15.91,...,18.26,17.92,15.55,17.8527,15.0754,15.373556,13.8846,12.1286,18.6757,17.064831
365,NA,15.24,NA,NA,NA,16.40,NA,NA,NA,18.79,...,NA,18.77,NA,NA,NA,15.909849,NA,NA,NA,18.245193

In [22]:
df_tasmax_imd_1951_2020_lat21_long11.to_csv('df_tasmax_imd_1951_2020_lat21_long11.csv', index=False)

In [23]:
df_tasmin_imd_1951_2020_lat21_long11.to_csv('df_tasmin_imd_1951_2020_lat21_long11.csv', index=False)